* {
  font-family: Sans-serif;
  color: #474747;
  background-color: rgb(235, 239, 247);
}

body {
  margin: 0;
}

.page-body {
    margin: 1em;
}

.title {
  font-size: 40pt;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 0.7em;
  padding-bottom: 0.3em;
  width: 100%;
  color: rgb(224, 232, 250);
  background-color: rgb(87, 109, 151);
}
.subtitle {
  font-size: 20pt;
  display: flex;
  justify-content: center;
  margin: 0;

  padding-bottom: 0.4em;
  width: 100%;
  color: rgb(224, 232, 250);
  background-color: rgb(87, 109, 151);
}

a {
  color: blue;
}

.link-header {
  background-color: rgb(136, 158, 199);
  padding: 1em;
  margin: 0em;
  display: flex;
  width: 100%;
  position: sticky;
  /* justify-content:  space-between;  */
}
.link-header a {
  text-decoration: none;
  background-color: rgb(136, 158, 199);
  
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: ghostwhite;
}

.link-header li {
  list-style-type: none;
}

.link-header a:hover {
   color: rgb(87, 109, 151);
  background-color: rgb(182, 200, 233)
}

.header-element {
    background-color: rgb(136, 158, 199);

  color: ghostwhite;
  list-style-type: none;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
}

/* .link-header a {
    background-color: dodgerblue;
    color:ghostwhite;
} */

a:hover {

  color: blue;
}
