* {
  font-family: Sans-serif;
  color: #474747;
  background-color: rgb(235, 239, 247);
}

body {
  margin: 0;
}

a {
  color: rgb(70, 90, 131);
}

a:hover {
  color: rgb(31, 53, 90);
}

.page-body {
  margin: 2em;
}

/* ---------- Header ---------- */

.title {
  font-size: 40pt;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 0.7em;
  padding-bottom: 0.3em;
  width: 100%;
  color: rgb(224, 232, 250);
  background-color: rgb(87, 109, 151);
}
.subtitle {
  font-size: 20pt;
  display: flex;
  justify-content: center;
  margin: 0;

  padding-bottom: 0.4em;
  width: 100%;
  color: rgb(224, 232, 250);
  background-color: rgb(87, 109, 151);
}

/* ---------- Nav ---------- */

.link-header {
  background-color: rgb(136, 158, 199);
  padding: 0.7em;
  margin: 0em;
  display: flex;
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
}

.link-header a {
  text-decoration: none;
  background-color: rgb(136, 158, 199);
  padding: 0.5em;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  color: ghostwhite;
}

.link-header li {
  list-style-type: none;
}

.link-header a:hover {
  color: rgb(87, 109, 151);
  background-color: rgb(182, 200, 233);
}

.header-element a {
  font-size: large;
}

.header-element {
  background-color: rgb(136, 158, 199);
  color: ghostwhite;
  list-style-type: none;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-decoration: none;
}

/* ---------- Projects ---------- */

.projects {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-title {
  background-color: rgb(225, 231, 243);
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  .projects {
    justify-content: center;
  }
  .single-project {
    max-width: 80%;
    margin: 0em;
  }
}

.single-project {
  max-width: 325px;
  margin: 1em;
  list-style-type: none;
  padding: 1em;
  border: 3px solid rgb(217, 222, 233);
  border-radius: 5px;
  background-color: rgb(225, 231, 243);
}

.single-project li,
.single-project p,
.single-project h4,
.single-project a {
  background-color: rgb(225, 231, 243);
}
